.main-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f9fafb;
}

.main-layout-content {
  flex: 1;
  margin-left: 250px;
  padding: 24px;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main-layout-content {
    padding: 16px;
  }
}

